<h2>Añadir zapato</h2>

<form [formGroup]="postForm " (ngSubmit)="onSubmit()" novalidate > 

    <div class="mb-3">
        <label class="form-label">marca</label>
        <input formControlName="marca" type="text" class="form-control" required>
    </div>
    <div class="mb-3">
        <label class="form-label">categoria</label>
        <input formControlName="categoria" type="text" class="form-control" required>
    </div>
    <div class="mb-3">
        <label class="form-label">almacen</label>
        <input formControlName="almacen" type="text" class="form-control" required>
    </div>
    <div class="mb-3">
        <label class="form-label">precio</label>
        <input formControlName="precio" type="text" class="form-control" required>
    </div>
    <br>
    <button [disabled]="!postForm.valid" type="submit " class="btn btn-primary"> Enviar</button>

</form>